<div class="d-block d-flex justify-content-between">
    <h2 class="ps-3 pt-4">Forgot Password</h2>
    <a class="cancle-icon text-end text-decoration-none p-2" (click)="onNoClick()"><i class="fa-solid fa-xmark"></i></a>
  </div>
  <hr>
  <section class="reset-password">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    <hr>
    <div class="d-flex justify-content-end p-3">
      <button mat-button type="button" (click)="onNoClick()" class="btn cancel-button me-2">Cancle</button>
      <button mat-button type="submit" [disabled]="forgotPasswordForm.invalid"   (click)="onSubmit()" class="btn btn-primary">Send</button>
    </div>
  </section>
  