
.add-node {
    max-width: 700px;
    overflow: hidden;
  }
  
  .form-group {
    width: 100%;
  }
  
  .custom-file-input {
    width: 100%;
  }
  .cancel-button {
    margin-right: 10px;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .cancle-icon{
    cursor: pointer;
  }