<div class="d-block d-flex justify-content-between">
  <h2 class="ps-3 pt-4">{{"Change Password"|translate}}</h2>
  <a class="cancle-icon text-end text-decoration-none p-2" (click)="onNoClick()"><i class="fa-solid fa-xmark"></i></a>
</div>
<hr>
<section class="reset-password">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onYesClick()">
    <div class="col-md-12">
      <div class="form-group px-3">
        <label for="newPassword" class="font-weight-bold">{{"Password"|translate}} <span class="required text-danger">*</span></label>
        <div class="position-relative">
          <input [type]="hide ? 'password' : 'text'" class="form-control" id="newPassword" formControlName="newPassword">
          <a class="show-password text-dark opacity-50" (click)="this.hide = !this.hide">
            <i class="fa-solid" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
          </a>
        </div>
        <p class="mb-0 fw-lighter w-100 font-style"><span class="fw-bold">{{"Note"|translate}}:</span> {{"Note-qoute"|translate}}</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group px-3 pt-2">
        <label for="confirmPassword" class="font-weight-bold">{{"Confirm-Password"|translate}} <span class="required text-danger">*</span></label>
        <div class="position-relative">
          <input [type]="confirmhide ? 'password' : 'text'" class="form-control" id="confirmPassword" formControlName="confirmPassword">
          <a class="show-password text-dark opacity-50" (click)="this.confirmhide = !this.confirmhide">
            <i class="fa-solid" [class]="confirmhide ? 'fa-eye-slash' : 'fa-eye'"></i>
          </a>
        </div>
      </div>
    </div>
  </form>
  <hr>
  <div class="d-flex justify-content-end p-3">
    <button mat-button type="button" (click)="onNoClick()" class="btn cancel-button me-2">{{"cancle-btn"|translate}}</button>
    <button mat-button type="submit" [disabled]="changePasswordForm.invalid" (click)="onYesClick()" class="btn btn-primary">{{"apply-btn"|translate}}</button>
  </div>
</section>
